.container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 124px;
    font-weight: 2500;
    color: #2F2A37;
}